includes:
	- ../vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	phpVersion: 70400
	tmpDir: ../var/tools/PHPStan

	checkBenevolentUnionTypes: true
	checkMissingCallableSignature: true
	checkInternalClassCaseSensitivity: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true

	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- Orisai\Exceptions\Check\CheckedException
