includes:
	- phpstan.base.neon

parameters:
	level: 3
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php

	ignoreErrors:
		# Intentional, tests reporting
		- message: '#^Missing \@throws Tests\\Orisai\\Exceptions\\Doubles\\ExampleUserError annotation$#'
		  path: %currentWorkingDirectory%/tests/Unit/Check/CheckedExceptionTest.php
		  count: 1
