includes:
	- ../vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	phpVersion: 74000
	tmpDir: ../var/tools/PHPStan

	exceptionRules:
		reportUnusedCatchesOfUncheckedExceptions: true
		checkedExceptions:
			- Orisai\Exceptions\Check\CheckedException
